* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f0f0f0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
	color: #0080ff;
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input,
textarea {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 10px;
}

input[type="submit"] {
	background-color: #0080ff;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #0059b3;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 70px;
  left: 0;
  background-color: #333;
  height: 0;
  overflow: hidden;
  width: 100%;
  transition: height 0.5s ease-in-out;
}

.nav-links.show {
  height: 200px;
}

.nav-links li {
  text-align: center;
  margin: 10px 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  
  .nav-links {
    position: static;
    height: auto;
    flex-direction: row;
    background-color: transparent;
    width: auto;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
}
